[submodule "packages/evil"]
	path = packages/evil
	url = https://github.com/emacsmirror/evil.git
[submodule "packages/haskell-mode"]
	path = packages/haskell-mode
	url = https://github.com/haskell/haskell-mode.git
[submodule "packages/sml-mode"]
	path = packages/sml-mode
	url = https://github.com/emacsmirror/sml-mode.git
[submodule "packages/ghci-ng"]
	path = packages/ghci-ng
	url = https://github.com/chrisdone/ghci-ng.git
[submodule "packages/hindent"]
	path = packages/hindent
	url = https://github.com/chrisdone/hindent.git
[submodule "packages/smex"]
	path = packages/smex
	url = https://github.com/nonsequitur/smex.git
[submodule "packages/magit"]
	path = packages/magit
	url = https://github.com/magit/magit.git
[submodule "packages/git-modes"]
	path = packages/git-modes
	url = https://github.com/magit/git-modes.git
[submodule "packages/haskell-docs"]
	path = packages/haskell-docs
	url = https://github.com/chrisdone/haskell-docs.git
[submodule "themes/zenburn"]
	path = themes/zenburn
	url = https://github.com/bbatsov/zenburn-emacs.git
[submodule "themes/moe-theme"]
	path = themes/moe-theme
	url = https://github.com/kuanyui/moe-theme.el.git
